
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

.logo-link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;

    color: #2196F3;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-studio {
    font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
/* identical to box height */

letter-spacing: 0.03em;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;

}
.menu-link:hover,
.menu-link:focus {
    color: #2196F3;
}

.contact-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    
    color: #757575;
}

.contact-phone-number:hover,
.contact-phone-number:focus{
    color: #2196F3;
}

.contact-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;

    color: #757575
}

.contact-mail:hover,
.contact-mail:focus {
    color: #2196F3;
}

.address-link{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;

    letter-spacing: 0.03em;

color: #FFFFFF;*/
}

.address-link:hover,
.address-link:focus {
    color: #2196F3;
}
/*MAIN*/

.hero-name{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

color: #FFFFFF;
}

.main-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: #FFFFFF;
}
.main-btn:hover,
.main-btn:focus {
    background-color: #2196F3;
}

.philter-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

}

.philter-btn:hover,
.philter-btn:focus{
    background-color: #2196F3;
    color: #FFFFFF;
    border: 1px solid #000000;
}

.hidden-section{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.hidden-description{
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;
    
    color: #757575;
}

.what-we-do{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

}

.employees{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
}

.name-employee{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;

}

.employee-position{
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;
}
